body {
  -webkit-tap-highlight-color: transparent;
}

.content{
  position:absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 97%;
  max-width: 100em;
  color: #202020;
  z-index: -1;
  text-align: center;
}

.help_content{
  position:absolute;
  top: 5%;
  left: 20%;
  right: 20%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-width: 100em;
  color: #202020;
  z-index: -1;
}

.help_content ul{
  padding-left: 1.5em;
}

.help_content p,
.help_content li {
  margin-bottom: 1em;
}

.help_content summary {
  font-size: 1.5em;
  padding-bottom: 1em;
}

.help_content div {
  font-size: 1.0em;
  padding-bottom: 1em;
  text-align: justify;
}

.help_content img {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 50em;
}

#download {
  clear: both;
}

.download_link img {
  width: 2em;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.1em;
}