.tooltiptext {
  visibility: hidden;
  width: 100%;
  color: #FC5404 !important;
  background-color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip_max a:link {
  color: #080547;
}

.tooltip_mean a:link {
  color: #080547;
}