<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <link rel="stylesheet" href="static/index.css">

    <title>Данни от АИС станции, Русе</title>

</head>
<body>
<section class="login-block">
    <form method='POST' action="/temp_user_login">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="auth-box card">
                        <div class="card-block">
                            <label for="username">Потребител</label>
                            <input type="text" class="form-control" id="username" name="username"
                                   placeholder="Потребител">
                        </div>

                        <div class="card-block">
                            <label for="password">Парола</label>
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Парола">
                        </div>

                        <div class="card-block">
                            <button type="submit" class="btn btn-outline-dark form-control">Вход</button>
                        </div>

                        <div class="card-block">
                            <a class="btn btn-outline-dark form-control" href="/login" role="button"
                               style="text-transform:none">
                                <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Вход с Google"
                                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/1024px-Google_%22G%22_logo.svg.png"/>
                                Вход с Google
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>


</body>
</html>