<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">


    <!-- Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css"/>
    <!-- Or for RTL support -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.rtl.min.css"/>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


    <script type="text/javascript" src="static/menu.js"></script>
    <script type="text/javascript" src="static/tooltip.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="/static/apexchart.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>

    <link rel="stylesheet" type="text/css" href="static/graph.css">

    <title>Данни от АИС станции, Русе</title>

    <script>
        var y_vals = [{"name": "АИС Възраждане", "data": [3.8, 5.1, 1.7, 1.6, 1.8, 1.6, 1.2, 1.5, 1.6, 1.4]}, {"name": "АИС Петър Берон", "data": [5.3, 9.1, 1.6, 1.9, 1.9, 1.6, 1.2, 1.5, null, null]}]
        var x_vals = [1701388800000.0, 1701475200000.0, 1701561600000.0, 1701648000000.0, 1701734400000.0, 1701820800000.0, 1701907200000.0, 1701993600000.0, 1702080000000.0, 1702166400000.0]
        var chart_type = "bar"
        var title_text = "Бензен"
    </script>
    <script>
        $(document).ready(function() {
            $('.measurement').select2();
            $('input[name="dates"]').daterangepicker({
                "locale": {
                    "format": "DD/MM/YYYY"
                }
            });
        });
    </script>
    <script>
        $( '#large-select2-options-single-field' ).select2( {
            theme: "bootstrap-5",
            width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
            placeholder: $( this ).data( 'placeholder' ),
            selectionCssClass: 'select2--large',
            dropdownCssClass: 'select2--large',
        } );
    </script>
</head>
<body>


<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form action="/graph" class="navbar-nav" method="POST">
                    <select class="measurement align-middle nav-item"
                            id="large-select2-options-single-field"
                            name="measurement" style="height: 100%">
                        <option value="m- p-Ксилен">m- p-Ксилен</option>
                        <option value="p-Крезол">p-Крезол</option>
                        <option value="Азотен диоксид NO2">Азотен диоксид NO2</option>
                        <option value="Азотен оксид NO">Азотен оксид NO</option>
                        <option selected="" value="Бензен">Бензен</option>
                        <option value="Въглероден оксид CO">Въглероден оксид CO</option>
                        <option value="Етилбензен">Етилбензен</option>
                        <option value="Ксилен">Ксилен</option>
                        <option value="Нафтален">Нафтален</option>
                        <option value="Озон О3">Озон О3</option>
                        <option value="Серен диоксид SO2">Серен диоксид SO2</option>
                        <option value="Толуен">Толуен</option>
                        <option value="Фенол">Фенол</option>
                        <option value="Фини прахови частици ФПЧ10">Фини прахови частици ФПЧ10</option>
                        <option value="Фини прахови частици ФПЧ2.5">Фини прахови частици ФПЧ2.5</option>
                        <option value="о-Крезол">о-Крезол</option>
                        <option value="о-Ксилен">о-Ксилен</option>
                        <option value="р-Крезол">р-Крезол</option>
                        <option value="Атмосферно налягане">Атмосферно налягане</option>
                        <option value="Валежи">Валежи</option>
                        <option value="Относителна влажност">Относителна влажност</option>
                        <option value="Посока на вятъра">Посока на вятъра</option>
                        <option value="Посока на вятъра (глобална)">Посока на вятъра (глобална)</option>
                        <option value="Радиационен гама фон">Радиационен гама фон</option>
                        <option value="Скорост на вятъра">Скорост на вятъра</option>
                        <option value="Слънчева радиация">Слънчева радиация</option>
                        <option value="Стандартно отклонение на посока на вятъра">Стандартно отклонение на посока на
                            вятъра
                        </option>
                        <option value="Температура на въздуха">Температура на въздуха</option>
                    </select>

                    <select class="interval align-middle nav-item" name="interval">
                        <option selected="" value="Средноденонощна стойност">Средноденонощна стойност</option>
                        <option value="Средночасова стойност">Средночасова стойност</option>
                    </select>

                    <input class="dates-input align-middle nav-item" name="dates"
                           value="01/12/2023 - 10/12/2023"/>

                    <button class="btn btn-secondary align-middle nav-item"><img src="static/graph.svg" width="30"/>
                    </button>
                </form>
            </div>


            <div class="d-flex">

                <a href="/logout">
                    <button class="nav-item btn btn-secondary" data-bs-target="#adminModal" data-bs-toggle="modal"><img
                            src="static/logout.svg" width="30"/></button>
                </a>

            </div>

        </div>
    </nav>

    <div id="plot"></div>
</div>


</body>
</html>